@import '../../node_modules/normalize-css/normalize.css';

%flexCenter{display:flex;justify-content:space-between;align-items:center;}
%svg{width:10px;display: inline-block;vertical-align: middle}

body{box-sizing: border-box;font-family: Arial;width:50%;margin: 20px auto;}
body *{box-sizing: inherit}



.widget{
	&{overflow:hidden;border-radius: 6px 6px 0 0;box-shadow: 3px 3px 5px rgba(0,0,0,0.1)}
	button{background:none;border:none;padding:0;margin:0;}
	
	header{@extend %flexCenter;background: linear-gradient(90deg, #EAEAD0, #C7C6A6);padding:10px 20px;}
	header h1{font-size:14px;}

	section{position:relative;width:100%;height:250px;max-height: 250px;transition:all .2s ease-in-out;overflow:hidden;border:1px solid #ccc;border-top:0}
	ul{list-style:none;margin:0;padding:0;position:absolute;width:100%;height:100%;display:block;left:0;transition:all .2s ease-in-out;}

	li{width:100%;height:100%;position:absolute;top:0;padding:20px;font-size:13px;display:flex}
	figure{display:block;padding-right:20px;max-width: 30%;}
	figure img{width:100%}
	p{display:block}
	
	footer{position: absolute;bottom:0; right:0; left:0;height:50px;@extend %flexCenter;padding: 20px;background:white;border-top:#E6E7DF 1px solid;}
	footer .button_wrapper{}
	
	// SVG
	.icon_doc{@extend %svg;}
	.icon_collapse{@extend %svg;}
	.icon_left{@extend %svg;}
	.icon_right{@extend %svg;}
	.icon_alignedlabel{vertical-align: middle}

	// Sliding
	@for $i from 0 through 9{
		li:nth-child(#{$i+1}){left:$i * 100%}
		&[data-slide="#{$i}"] ul{left:-$i * 100%;}
	}
	
	// Collapsing
	&[data-collapsed="true"]{
		section{max-height:0}
		.icon_collapse{transform: rotate(180deg)}
	}
	
}

